.forgot-password
{
  width: 300px;
  margin: 200px auto 0;
}

.forgot-password h2,p,input,span
{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.forgot-password button {
  margin-top: 50px;
  width: 100%;
}

.forgot-password input
{
  width: 100%;
}
