h2, form {
  position: relative;
  left: 40%;
  top: 80px;
}

button
{
  background-color: #F39200;
}

@media screen and (max-width: 480px)
{

  form
  {
    left: 22%;
  }

  h2
  {
    left: 28%;
  }

  button
  {
    left: 15%;
  }
}


