

      <div class="main ">

<h2>Ajouter un joueur</h2>

<form [formGroup]="angularForm">

  <table class="example-full-width">
    <tr>
  <td><mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput
           formControlName="name"
    [(ngModel)]="newJoueur.name"/>


  </mat-form-field>
  </td>
    </tr>

    <tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Prénom</mat-label>
    <input matInput
           formControlName="firstName"
     [(ngModel)]="newJoueur.firstName"/>

      </mat-form-field>
      </td>
  </tr>

    <tr>
      <td> <mat-form-field appearance="fill">
        <mat-label>Groupe</mat-label>
        <mat-select formControlName="group" [(ngModel)]="newJoueur.group" required >
          <mat-option *ngFor="let groupe of this.functionsService.groupes" [value]="groupe.groupId">
            {{groupe.groupId}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </td>
    </tr>

    <tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email"
               [(ngModel)]="newJoueur.email"/>

      </mat-form-field>
      </td>
    </tr>
  </table>


  <button
    mat-raised-button  (click)="savePlayer()">Soumettre</button>

  <div *ngIf="submitted">
    <h4>Nouveau joueur ajouté avec succès !</h4>
  <button
    class="btn-success"
    (click)="newPlayer()">Nouveau Joueur</button>
  </div>
</form>

      </div>
