.header {
  height: 70px;
  width: 100%;
  padding: 20px 50px;
  background-color: #b75683;
  color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #af527e;
  .logo img {
    margin-top: -28px;
    height: 80px;
  }
  .user {
    display: flex;
    align-items: center;
    font-size: 1rem;
    .user-image {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}

a {
  text-decoration: none;
  color: #fff;
}
