<section>
  <img src="assets/logoML.webp" class="mlLogo">
  <div class="signup">

    <h2>S'inscrire</h2>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="ml@gmail.com" [formControl]="email" required #userEmail>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Identifiant</mat-label>
        <input matInput placeholder="Ex. IamVenom" [formControl]="pseudo" required #userDisplayName>
        <mat-error *ngIf="pseudo.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Minimum 6 caractères" [type]="hide ? 'password' : 'text'" #userPwd>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'"
                [attr.aria-password]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

      <div class="inputBox">
        <input
          type="button"
          id="btn"
          value="S'inscrire"
          (click)="authService.SignUp(userEmail.value,userDisplayName.value, userPwd.value)"
        />
      </div>

    <div class="ou">
      <h4>Ou</h4>
    </div>

      <!-- Continue with Google -->
      <a class="googleBox" (click)="authService.GoogleAuth()">
          <img src="assets/icons8-google-48.png" alt="google"> S'inscrire avec Google
        </a>


    <div class="group">
      <span
        >Vous avez déjà un compte ?
        <span class="redirect" [routerLink]="['']">Se connecter</span></span
      >
    </div>
  </div>
</section>
