<div class="forgot-password">
      <h2>Réinitialisez votre mot de passe</h2>

      <p>
        Merci d'entrer votre adresse email pour lancer une requête de réinitialisation
      </p>


        <input
          type="email"
          class="formControl"
          placeholder="Adresse Email"
          #passwordResetEmail
          required/>


      <!-- Calling ForgotPassword from AuthService Api -->

        <button
          mat-raised-button color="primary"
          type="button"
          class="btn btnPrimary"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">
          <i class="fas fa-redo-alt"></i>
          Réinitialiser le mot de passe
        </button>


        <span class="redirect" routerLink="/sign-in">Se connecter</span>


</div>
