.email-verif
{
  width: 300px;
  margin: 200px auto 0;
  justify-content: center;
  align-items: center;
}

.email-verif h2,p,span
{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.email-verif button {
  margin-top: 50px;
}
