.nav {
  width: 200px;
  height: 100%;
  background: #2898D5;
  transition: 0.5s;
  overflow-x: hidden;
  box-shadow: 5px 5px 5px #2898D5;
}

.nav ul {
  top: 0;
  left: 0;
  width: 100%;
}

.nav ul li {
  position: relative;
  list-style: none;
  width: 100%;
  font-size: 1.2rem;
}

.nav ul li:hover {
  background: #00bcd4;

}

.nav ul li a {
  display: flex;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
}

.nav ul li a fa-icon {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.nav ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

