/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100vh; }
body { margin: 0;
  font-family: Muli, sans-serif }

.main {
  font-size: 1.2rem;
  width: 100%;
}
.main-container
{
  display: flex;
}
a
{
  cursor: pointer;
}

section
{
  background:#fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

section .mlLogo {
  position: relative;
  margin-right: 50px;
  height: 250px;
}

.login-signup
{
  position: relative;
  padding: 60px;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(15px);
  border: 1px solid #fff;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.6);
}
.login-signup h2
{
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #2898D5;
  margin-bottom: 10px;
}

.login-signup .inputBox
{
  position: relative;
}

.login-signup .inputBox input
{
  position: relative;
  width: 100%;
  padding: 15px 20px;
  outline: none;
  font-size: 1.25rem;
  color: #D60B52;
  border-radius: 5px;
  background: #fff;
  border: none;
  margin-bottom: 30px;
}

.login-signup .example-container mat-form-field
{
  position: relative;
  width: 100%;
}

.login-signup .inputBox ::placeholder
{
  color: #D60B52;
}

.login-signup .inputBox #btn
{
  position: relative;
  border: none;
  outline: none;
  background: #F39200;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  transition: 0.5s;
}
.login-signup .inputBox #btn:hover
{
  background: #F39200;
}

.login-signup .googleBox
{
  position: relative;
  width: 100%;
  padding: 15px 20px;
  outline: none;
  font-size: 1.25rem;
  border-radius: 5px;
  background: #fff;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}


.login-signup .ou h4
{
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-size: 1.25rem;
}


.login-signup .group
{
  display: flex;
  justify-content: space-between;
}

.login-signup .group span
{
  font-size: 1.25rem;
  color: #2898D5;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.login-signup .group span:nth-child(2)
{
  text-decoration: underline;

}







@media screen and (max-width: 480px) {
  .main {
    font-size: 1em;
  }

  section .mlLogo {
    display: none;
  }

  .login-signup h2
  {
    font-size: 2rem;
  }

  .login-signup .inputBox input
  {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .login-signup .inputBox #btn
  {
    font-size: 1rem;
  }


  .login-signup .googleBox
  {
    font-size: 1rem;
    margin-bottom: 15px;
  }


  .login-signup .ou h4
  {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .login-signup .group span
  {
    font-size: 1rem;
  }
}

