.main {
  width: calc(100% - 200px);
}

.date {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      margin-left: 15px;
      font-weight: bold;
      color: #AF1B62;
    }

.groupe
{
  margin-left: 50px;
  margin-top: 10px;
  width: 70%;
}

table
{
  width: 50%;
}

table td
{
  text-align: center;
}

.click
{
  cursor: pointer;
}

mat-icon
{
  cursor: pointer;
}

.add
{
  margin-left: 8px;
}

